<%- include('./partials/header', {title: "Home"}) %> <%-
include('./partials/navbar') %>

<div class="container">
  <div class="row mt-4">
    <div class="col-md-12">
      <h1>Welcome <%= user.name %></h1>

      <% if (error_msg) { %>
      <div class="alert alert-danger">
        <ul class="mb-0">
          <% error_msg.forEach(msg => { %>
          <li><%= msg %></li>
          <% }) %>
        </ul>
      </div>
      <% } %> <% if (success_msg) { %>
      <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
