<%- include('./partials/header', {title: "Change Password"}) %>
<%- include('./partials/navbar') %>

<div
  class="bg-light d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="card shadow p-4" style="max-width: 400px; width: 100%">
    <h4 class="text-center mb-4">Change Password</h4>

    <!-- Flash message -->
    <% if (error_msg) { %>
    <div class="alert alert-danger">
      <ul class="mb-0">
        <% error_msg.forEach(msg => { %>
        <li><%= msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %> <% if (success_msg) { %>
    <div class="alert alert-success"><%= success_msg %></div>
    <% } %>

    <form action="/change-password" method="POST" novalidate>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Password Confirm</label>
        <input
          type="password"
          name="passwordConfirm"
          id="passwordConfirm"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary w-100"><i class="bi bi-save-fill"></i> Update Password</button>
    </form>
  </div>
</div>

<%- include('./partials/footer') %>
